.header__subtitle {
  z-index: 1;
 /* border: 1px solid yellowgreen;*/
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
