.kaufman__triangle {
  z-index: -1;
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url(../../../images/triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  height: 700px;
}
