body {
  background-color: white;
  font-family: 'Inter', sans-serif;

}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, serif;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.font-container_text_weight_bold {
  font-weight: bold;
}

.margin_0 {
  margin: 0;
}

/*----------------------Начало клссов Header-----------------------------*/

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  align-items: center;
    /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.logo {
  /*border: 1px solid red;*/
  width: 183px;
  height: 32px;

}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

.header__title {
  /*border: 1px solid black;*/
  width: 730px;
  margin-left: 64px;

}

.header__title_font {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
 /* border: 1px solid yellowgreen;*/
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__subtitle_font {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  /*border: 1px solid burlywood;*/
  width: 765px;
  height: 608px;
  position: absolute;
  background-size: cover;
  right: 0;
  bottom: 0;

}
/*---------------------------Конец классов Header--------------------*/

/*----------Начало классов Discription------------------------------*/
.description {
  /*border: 1px solid crimson;*/
  display: flex;
  width: 100%;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  margin: auto;
 /* border: 1px solid orangered;*/
  width: 80%;
  min-height: auto;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
 /*border: 1px solid darkgreen;*/
  width: 175px;
  flex-direction: row;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  font-weight: unset;
  margin: 0;
  color: #2F80ED;
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
 /*border: 1px solid yellowgreen;*/
  min-width: 784px;
  width: 80%;
  justify-content: space-between;
}
/*обнулили последнему элементу нижний внутренний отступ*/
.two-columns__main-text p:last-child {
margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
  /*border: 1px solid blue;*/
  margin-top: 0;
  margin-bottom: 30px;
}
/*---------Конец классов Discription--------------------------*/

/*---------Начало классов Techniques--------------------------*/
.techniques {
  /*border: 1px solid red;*/
  width: 80%;
  display: flex;
  padding-top: 100px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
/*------псевдо класс дабы выровнить блок techniques-----*/
.content__section {
  margin: 0 auto;
}

.cards {
  /*border: 1px solid black;*/
  display: flex;
  width: 920px;
  flex-wrap: wrap;
  flex-direction: row;

}

.cards__item {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  /*border: 1px solid yellow;*/
  width: 240px;

}

.cards__item:nth-child(3n+3) {
  margin-right: 0;
}

.cards__image {
  border-radius: 100px;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;

}

.cards__title {
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
}

.cards__discription {
  margin: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

/*-------------Конец классов Techniques-----------------------*/

/*---------Начало классов Digits--------------------------*/
.digits {
 /* border: 1px solid red;*/
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  flex-direction: column;

}
/*---------Совместные классы Digits и kaufman-----------------------*/
.table {
  display: flex;
 /* border: 1px solid black;*/
  width: 1100px;
  justify-content:space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.table_theme_dark {
  display: flex;
 /* border: 1px solid blue;*/
  width: 1100px;
  justify-content:space-between;
  flex-wrap: wrap;
  flex-direction: row;

}

.table__cell {
  margin-top: 60px;
 /* border: 1px solid yellowgreen;*/
  width: 250px;
}

.table__cell_theme_dark {
  color: white;
  margin-top: 80px;
  /*border: 1px solid yellowgreen;*/
  width: 200px;
}

.table__heading {
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;

}

.table__heading_theme_dark {
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;

}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


/*---------Конец классов Digits--------------------------*/

/*----------------------Тайтлы---------------------------*/
.section__title {
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.section__title_theme_dark {
  color: white;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.section__subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;

}

.section__subtitle_theme_dark {
  color: white;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;

}





/*-----псевдо класс дабы сделать отступ между titl and subtitle-----*/
.content__techniques {
  margin-top: 20px;
}
/*---------Начало классов kaufman--------------------------*/
.kaufman {
  background-color: #1f1f1f;
  /*border: 1px solid brown;*/
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
  align-items: center;
  flex-direction: column;
}
/*---------конец классов kaufman--------------------------*/

/*---------Начало классов resources--------------------------*/
.resources {
  /*border: 1px solid red;*/
  display: flex;
  padding-top: 100px;
  padding-bottom: 217px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.resources__logo__zone {
  display: flex;
  /*border: 1px solid black;*/
  width: 1100px;
  justify-content: space-between;
}

.resources__logo {
  display: flex;
 /* border: 1px solid blue;*/
  width: 270px;
  height: 38px;
  align-items: center;
  justify-content: center;
}
/*---------Конец классов resources--------------------------*/

.content__resources {
  margin-top: 80px;
}

/*---------Начало классов footer--------------------------*/
.footer {
  display: flex;
  border: 1px solid blue;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  justify-content: space-around;




}

.footer__columns {
  display: flex;
  border: 1px solid black;
  width: 90%;


}

/*---------Конец классов footer--------------------------*/







